[default]
# this channel must exist already
bot_datastore_channel = "bot-data"

# if not set, or set to "ALL", bot will listen on
# all channels it has permissions for.
#
# If setting one or more channels, must be set as
# a list, e.g.,
# bot_listen_channel = ["general", "topic1", "topic2"]
#
bot_listen_channel = "ALL"

# default start time for activities
bot_default_start: "21:00"

# guild role for admin command access
# "none" means only Guild Owner has access
bot_admin_role: "none"

[production]
# Limit the bot to this guild
bot_guild = "My Server"

[development]
bot_guild = "My Dev Server"
